.main-footer {
    position: relative;
    z-index: 20;
    padding-top: 50px;
    background-color: #0d0d0d;
    // .main-footer__top
    &__top {
        display: flex;
        @include adaptiv-value('padding-top', 75, 0, 1);
        @include adaptiv-value('padding-bottom', 75, 0, 1);
        padding-left: 30px;
        padding-right: 40px;
        @media(max-width: 945px) {
            flex-direction: column;
            padding: 0;
        }
    }
    // .main-footer__bottom
    &__bottom {
        @include adaptiv-value('padding-top', 55, 10, 1);
        @include adaptiv-value('padding-bottom', 55, 10, 1);
        @include adaptiv-value('padding-left', 30, 0, 1);
        border-top: 1px solid #1d1d1d;
    }
    // .main-footer__column
    &__column {
        // .main-footer__column--l
        &--l {
            flex: 0 1 680% / (1130 / 100);
            padding-right: 20px;
            @media(max-width: 1250px) {
                flex: 0 0 40%;
            }
            @media(max-width: 945px) {
                flex: 0 1 100%;

                display: flex;
                justify-content: center;
                margin-bottom: 20px;
                padding: 0 0 20px 0;
                border-bottom: 1px solid #1d1d1d;
            }
        }
        // .main-footer__column--r
        &--r {
            flex: 0 1 450% / (1130 / 100);
            display: flex;
            justify-content: space-between;
            @media(max-width: 1250px) {
                flex: 0 1 60%;
                justify-content: flex-end;
            }
            @media(max-width: 945px) {
               justify-content: space-evenly;
               padding-bottom: 20px;
            }
            @media(max-width: 530px) {
                flex-direction: column;
               justify-content: flex-start;
            }
        }
    }
    // .main-footer__studio
    &__studio {
        max-width: 450px;
        & .studio__title {
            color: #fff;
        }
    }
    // .main-footer__cell
    &__cell {
        padding-left: 85px;
        @media(min-width: 945px) {
            &:first-child {
                padding: 0;
            }
        }
        @media(max-width: 945px) {
            padding: 0 20px;
        }
        @media(max-width: 530px) {
            padding: 0;
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    // .main-footer__title
    &__title {
        position: relative;

        color: #fff;
        font-size: 18px;
        line-height: 36px;
        text-transform: uppercase;
        @media(max-width: 530px) {
            &::before,
            &::after {
                content: '';
                position: absolute;
                top: 50%;
                right: 15px;

                width: 9px;
                height: 1px;

                background-color: rgba($color: #fff, $alpha: .5);
                transition: all .3s;
            }
            &::after {
                transform: rotate(90deg);
            }
            &._active::after {
                opacity: 0;
            }
        }
        &:first-child {
            padding: 0;
        }
    }
    // .main-footer__list
    &__list {
        padding-top: 15px;
        @media(max-width: 530px) {
            display: none;
        }
    }
    // .main-footer__link
    &__link {
        position: relative;

        color: #999;
        font-size: 14px;
        line-height: 32px;
        letter-spacing: 0.02em;
        transition: color .5s;
        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -5px;
    
            width: 0;
            height: 2px;
            background-color: #333;
            opacity: 0;
            transition: all .5s;
        }
        @media(min-width: 767px){
            &:hover,
            &:focus {
                color: rgb(228, 228, 228);
            }
        }
        @media(min-width: 767px){
            &:hover::after {
                width: 100%;
                opacity: 1;
            }
        }
    }
    // .main-footer__copy
    &__copy {
        color: rgba(179, 179, 179, 0.466);
        font-size: 10px;
        line-height: 24px;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        a {
            color: #8d7431;
            @media(min-width: 768px) {
                &:hover,
                &:focus {
                    color: #c49f39;
                }
            }
        }
        @media(max-width: 945px) {
           text-align: center;
        }
    }
}
