/* Font icons
========================================== */

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-dribbble:before {
  content: "\e900";
}

._icon-facebook:before {
  content: "\e901";
}

._icon-in:before {
  content: "\e902";
}

._icon-play:before {
  content: "\e903";
}

._icon-twitter:before {
  content: "\e904";
}

/*Reset style
==========================================*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

ul li,
ol li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

a,
a:visited {
  text-decoration: none;
}

img {
  vertical-align: top;
}

input,
button,
textarea {
  font-family: inherit;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
  -webkit-appearance: none;
          appearance: none;
  -moz-appearance: textfield;
}

/* Global
==========================================*/

body {
  height: 100%;
  color: #333;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.2;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

._container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 15px;
}

.page {
  z-index: 20;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-color: #fff;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Forms
==========================================*/

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  padding: 0 50px;
  color: #333;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  background-color: #fff;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

/* Main Header
==========================================*/

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 1px;
  min-height: 176px;
  width: 100%;
  -webkit-transition: background .1s;
  -o-transition: background .1s;
  transition: background .1s;
}

.main-header.scroll {
  min-height: 50px;
  -webkit-transform: translateY(0) !important;
      -ms-transform: translateY(0) !important;
          transform: translateY(0) !important;
  -webkit-animation-name: showHeader;
          animation-name: showHeader;
  -webkit-animation-duration: .7s;
          animation-duration: .7s;
  background-color: rgba(235, 236, 238, 0.9);
  -webkit-box-shadow: 0 3px 10px rgba(84, 84, 84, 0.36);
          box-shadow: 0 3px 10px rgba(84, 84, 84, 0.36);
}

.main-header.scroll .main-header__button {
  min-width: auto;
  padding: 0 30px;
  height: 35px;
}

.main-header.active {
  background-color: #ebecee;
}

.main-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  max-width: 1950px;
}

.main-header__burger {
  margin-left: 70px;
}

.main-header__nav {
  margin-left: auto;
}

.main-header__button {
  margin-left: 80px;
  margin-right: 45px;
  min-width: 167px;
  height: 50px;
}

.nav-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-header__list li {
  margin-left: 45px;
}

.nav-header__link,
.burger-nav__link {
  position: relative;
  display: inline-block;
  color: #333;
  font-family: Ubuntu;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
}

.nav-header__link::after,
.burger-nav__link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: #333;
  opacity: 0;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

@-webkit-keyframes showHeader {
  0% {
    top: -100%;
  }

  100% {
    top: 0;
  }
}

@keyframes showHeader {
  0% {
    top: -100%;
  }

  100% {
    top: 0;
  }
}

/* Burger
========================================== */

.burger {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33px;
          flex: 0 0 33px;
  height: 33px;
  border-right: solid 3px #191919;
}

.burger__cube {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 27px;
  height: 21px;
  border-left: solid 3px #191919;
  -webkit-transition: -webkit-transform 1s linear;
  transition: -webkit-transform 1s linear;
  -o-transition: transform 1s linear;
  transition: transform 1s linear;
  transition: transform 1s linear, -webkit-transform 1s linear;
}

.burger__cube--s {
  width: 21px;
  height: 9px;
  -webkit-transition: -webkit-transform 1.2s linear;
  transition: -webkit-transform 1.2s linear;
  -o-transition: transform 1.2s linear;
  transition: transform 1.2s linear;
  transition: transform 1.2s linear, -webkit-transform 1.2s linear;
}

.burger,
.burger__cube {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: solid 3px #191919;
  border-bottom: solid 3px #191919;
  cursor: pointer;
}

.burger.active .burger__cube {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.burger.active .burger__cube--s {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

/* Burger navigation
========================================== */

.burger-nav {
  position: fixed;
  z-index: 0;
  top: 171px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  height: 100%;
  padding: 40px 15px 80px;
  color: #fff;
  background-color: #333;
  opacity: 0;
  -webkit-transition: opacity .4s;
  -o-transition: opacity .4s;
  transition: opacity .4s;
  overflow: auto;
}

.burger-nav__close {
  position: absolute;
  top: 20px;
  right: 15px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background: url("../img/icons/close.svg") center no-repeat;
}

.burger-nav.active {
  z-index: 100;
  opacity: 1;
}

.burger-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.burger-nav__list li {
  margin-bottom: 20px;
}

.burger-nav__list li:last-child {
  margin: 0;
}

.burger-nav__studio {
  max-width: 450px;
}

.burger-nav__link {
  color: #fff;
}

.burger-nav__link:after {
  background-color: #fff;
}

.studio__title {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 300;
  text-transform: uppercase;
}

.studio__text {
  color: #666;
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
}

.studio__social {
  margin-top: 30px;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.social__item {
  margin-right: 45px;
}

.social__item:last-child {
  margin: 0;
}

.social__link {
  font-size: 0;
}

.social__link::before {
  color: rgba(235, 236, 238, 0.7);
  font-size: 18px;
}

.main-header.scroll + .burger-nav {
  top: 45px;
}

/* Intro
==========================================*/

.intro {
  position: relative;
  height: 1px;
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #ebecee;
}

.intro__container {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
  max-width: 1950px;
}

.intro__wrap {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.intro__bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.intro__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.intro__text {
  margin-left: 30px;
  text-align: center;
}

.intro__title {
  font-family: 'Ubuntu', sans-serif;
  font-size: 60px;
  line-height: 1.2;
  font-weight: 300;
  color: #222;
}

.intro__btn {
  min-width: 267px;
  margin-top: 50px;
}

/* Benefits
==========================================*/

.benefits {
  padding-top: 85px;
  padding-bottom: 85px;
}

.benefits__title {
  margin-bottom: 20px;
  color: #141311;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 300;
  text-align: center;
}

.benefits__text {
  margin-bottom: 35px;
  padding: 0 25px;
  line-height: 24px;
  text-align: center;
}

.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -20px;
}

.benefits__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 20px;
}

.item-benefits__photo {
  margin-bottom: 30px;
  padding-bottom: 69.1%;
}

.item-benefits__content {
  padding: 0 30px;
}

.item-benefits__title {
  margin: 0 0 10px 0;
  font-size: 22px;
  line-height: 1.2;
}

.item-benefits__text {
  color: #333;
  font-family: Nunito;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
}

/* About
==========================================*/

.about {
  padding-top: 100px;
}

.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__top {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.about__bottom {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 66.666%;
          flex: 0 1 66.666%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__row--g {
  background-color: #f4f0eb;
}

.about__row--rev {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.about__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__info--grey {
  background-color: #f8f8f8;
}

.about__content {
  max-width: 300px;
}

.about__title {
  position: relative;
  padding: 0 0 10px 0;
  margin-bottom: 20px;
  color: #141311;
  font-size: calc(18px + 12 * ((100vw - 320px) / 1600));
}

.about__title::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 35px;
  height: 2px;
  background-color: #000;
}

.about__text {
  font-family: 'Nunito', sans-serif;
}

.about__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding-bottom: 21.053%;
}

.about__column-left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 66.666%;
          flex: 0 1 66.666%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__column-left .about__row {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.about__column-left .about__info,
.about__column-left .about__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.about__column-left .about__img {
  padding-bottom: 31.58%;
}

.about__column-right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.about__column-right .about__info,
.about__column-right .about__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.about__column-right .about__img {
  padding-bottom: 63.16%;
}

.about__column-right .about__info,
.about__column-right .about__title {
  color: #fff;
}

.about__column-right .about__title::after {
  background-color: #fff;
}

@media (min-width: 677px) {
  .nav-header__list li:first-child {
    margin: 0;
  }
}

@media (min-width: 767px) {
  .nav-header__link:hover::after,
  .burger-nav__link:hover::after {
    width: 100%;
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .btn:hover,
  .btn:focus {
    -webkit-box-shadow: 0 0 10px #999;
            box-shadow: 0 0 10px #999;
  }
}

@media (max-width: 1500px) {
  .intro__title {
    font-size: 50px;
  }
}

@media (max-width: 1400px) {
  .main-header {
    min-height: 100px;
  }

  .burger-nav {
    top: 95px;
  }
}

@media (max-width: 1366px) {
  .intro__title {
    font-size: 45px;
  }
}

@media (max-width: 1210px) {
  .main-header__burger {
    margin-left: calc(0px + 70 * ((100vw - 320px) / 890));
  }

  .main-header__button {
    margin-left: calc(30px + 50 * ((100vw - 320px) / 890));
  }

  .main-header__button {
    margin-right: calc(10px + 35 * ((100vw - 320px) / 890));
  }

  .intro {
    padding-top: calc(40px + 60 * ((100vw - 320px) / 890));
  }

  .intro {
    padding-bottom: calc(40px + 60 * ((100vw - 320px) / 890));
  }

  .intro__text {
    margin-left: calc(0px + 30 * ((100vw - 320px) / 890));
  }

  .benefits {
    padding-top: calc(50px + 35 * ((100vw - 320px) / 890));
  }

  .benefits {
    padding-bottom: calc(50px + 35 * ((100vw - 320px) / 890));
  }

  .about {
    padding-top: calc(40px + 60 * ((100vw - 320px) / 890));
  }
}

@media (max-width: 1100px) {
  .intro__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .intro__bg:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(235, 236, 238, 0.6);
  }

  .intro__title {
    font-weight: 400;
  }
}

@media (max-width: 920px) {
  .main-header__button {
    min-width: auto;
    padding: 0 30px;
    height: 35px;
  }

  .benefits__list {
    margin: 0 -10px;
  }

  .benefits__column {
    padding: 0 10px;
  }
}

@media (max-width: 767px) {
  .main-header {
    min-height: 60px;
  }

  .burger-nav {
    top: 55px;
  }

  .benefits {
    padding-bottom: 35px;
  }

  .benefits__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .benefits__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin: 0 0 30px 0;
  }

  .item-benefits__photo {
    margin-bottom: 20px;
  }

  .item-benefits__content {
    padding: 0 15px;
  }

  .about__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about__row--g {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .about__row--rev {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .about__info {
    min-height: 300px;
  }

  .about__img {
    min-height: 350px;
  }
}

@media (max-width: 676px) {
  .main-header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .main-header__burger {
    margin: 0;
  }

  .main-header__nav {
    margin: 0;
  }

  .nav-header {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    text-align: center;
  }

  .nav-header__list li {
    margin: 0 0 20px 0;
  }

  .nav-header__list li:last-child {
    margin: 0;
  }

  .nav-header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .nav-header__link,
  .burger-nav__link {
    color: #fff;
    font-size: 21px;
  }

  .burger-nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .burger-nav__list {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    text-align: center;
    padding-right: 10px;
  }

  .burger-nav__studio {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin-top: 50px;
  }
}

@media (max-width: 575px) {
  .btn {
    min-width: auto;
    height: 50px;
  }

  .main-header__button {
    height: 35px;
    margin-right: 0;
  }

  .benefits__text {
    padding: 0;
  }

  .benefits__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 500px) {
  .nav-header {
    margin-bottom: 20px;
  }

  .burger-nav {
    display: block;
  }

  .burger-nav__list {
    padding: 0;
  }
}